.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--grey-4-rgb), 0.5);
  display: none;
}

.modal__content {
  background: rgba(255, 255, 255, 1);
  padding: 30px 40px 33px 40px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(51, 77, 110, 1);
  margin-bottom: 14px;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal__body {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
