.main {
  background: #f9fafc;
  padding: 68px 0;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__content {
  padding-top: 36px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;
}

@media (max-width: 375px) {
  .main {
    padding: 24px 15px;
  }
  .main__cards {
    gap: 23px 16px;
  }
}
