.skeleton {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
  display: flex;
  flex-direction: column;
}

.skeleton__header {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  gap: 16px;
}

.skeleton__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__line {
  height: 20px;
  width: 100%;
  background: linear-gradient(
    92.51deg,
    var(--grey-2) 6.44%,
    var(--grey-2) 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    var(--grey-2) 102.52%
  );
}

.skeleton__line_shorter {
  width: 257px;
}

.skeleton__line_shortest {
  width: 172px;
}

.skeleton__circle {
  width: 64px;
  height: 64px;
  background: var(--grey-2);
  border-radius: 100%;
}
